Source: tudu
Section: utils
Priority: optional
Maintainer: Ruben Pollan <meskio@sindominio.net>
Build-Depends:
 debhelper (>= 9),
 libncurses5-dev,
 libncursesw5-dev
Standards-Version: 3.9.4
Homepage: http://code.meskio.net/tudu/

Package: tudu
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: Command line hierarchical ToDo list
 ToDo list manager in ncurses, with hierarchical representation of the tasks.
 Each task has:
   * Title
   * Long text description
   * Deadline (tudu warns you when the date is approaching)
   * Categories
   * Priorities
